*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display:flex;
    justify-content:left;
    position:sticky;
    top:0;
    color: black;
    background:rgba(10, 10,10, 0.7);
    backdrop-filter: 10px;
    -webkit-backdrop-filter: 10px;
    height: 10vh;
    width:100vw;
    z-index: 10;
}
ul li a{
    text-decoration: none;
    color: #ce1127;
    /* color:cornflowerblue; */
    font-size:x-large;
    /* backdrop-filter: 40px; */
}
ul{
    display: inline-flex;
    list-style: none;
    /* backdrop-filter: 40px; */
}
ul li{
    display: inline-flex;
    margin-top: 1vh;
    margin-left: 2vw;
    /* padding-left: 2vw; */
    /* backdrop-filter: 40px; */
}
#search{
    display: inline-flex;
    border-radius: 5px;
    position: relative;
    margin-left: 2vw;
    width: 22rem;
    cursor: pointer;
    background: transparent;
    color:whitesmoke;
    backdrop-filter: 50px;
    /* align-self: right; */
}
h1{
    /* display: inline-block;
    top:9vh;
    position:fixed; */
    /* margin-left: 30vw; */
    color: #39ff14;
}
h2{
    color:#da14ff;
}
body img{
    position: absolute;
    z-index: -1;
    height: inherit;
    width:inherit;
    background-size: contain;
    background-repeat: repeat;
    background-clip: content-box;
    background-attachment: fixed;
    /* transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg); */
}
body{
    height: 150vh;
    width: 100vw;
    color:white;
    background: black;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    text-shadow: black ;
    text-overflow:wrap;
    /* display: flex; */
}
textarea{
    cursor: pointer;
    background: transparent;
    /* backdrop-filter: 50px; */
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(58, 120, 236);
    font-size: larger;
    text-overflow: clip;
}
.button{
    height: 50px;
    width: 100px;
    background:#51ff0D;
    backdrop-filter: 90px;
    border-radius: 4px;
    border:1px solid rgb(111, 30, 187);
    color:black;
    cursor:pointer;
}
.notes{
    position:absolute;
    top:20vh;
    display:inline-block;
    justify-content: center;
    box-sizing: border-box;
}
.card{
    display: flex;
    flex-wrap: wrap;
    position:relative;
    bottom: 0;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
}
.card p{
    display: block;
    text-overflow:wrap;
}
#title{
    width:30vw;
    background-color: transparent;
    backdrop-filter: 20px;
    border-radius: 4px;
    color:white;
}
@media only screen and (max-height : 150vh ) {
    body{
        background-image: url(2.jpg) ;
        background-attachment: fixed;
        background-position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover,contain;
       
    }
}
/* @media only screen and (orientation:landscape ) {
    body{
        background-image: url( 3.jpg );
    }
    body img{
    z-index: -1;
    transform: rotate(180deg);      
    }
} */